{% extends "layout.html" %}

{% block content %}
<h1 class="my-4">Gear Breakdown</h1>

{% for entry in gear_entries %}
    <div class="card my-3">
        <div class="card-header" data-bs-toggle="collapse" href="#collapse-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
            <strong class="player-name">{{ entry.name }}</strong> ({{ entry.type }}) ({{ entry.itemLevel }})
        </div>
        <div id="collapse-{{ loop.index }}" class="collapse">
            <ul class="list-group list-group-flush">
                {% for item in entry.gear %}
                    {% if item.itemLevel > 0 %}
                    <li class="list-group-item">
                        <div>
                            <strong>{{ item.name }}</strong> {{ item.permanentEnchantName }} | {{ item.onUseEnchantName }}
                        </div>
                        <div>
                            Item Level: {{ item.itemLevel }}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}

<a href="/raid-data" class="btn btn-primary mt-4">Home</a>
{% endblock %}
