{% extends "layout.html" %}

{% block content %}
<h1 class="my-4">Retrieve the Raid Data</h1>

<p>This tool retrieves and displays raid data from Warcraft Logs, including player gear, damage breakdowns, healing breakdowns and buff checks.</p>

<div class="mt-4">
    <form action="/raid-data" method="post">
        <div class="form-group">
            <label for="raidCode">Enter Raid Code: </label>
            <input type="text" id="raidCode" name="raidCode" class="form-control" required placeholder="https://classic.warcraftlogs.com/reports/RAIDCODE">
        </div>
        <hr>
        <button type="submit" class="btn btn-primary mt-3">Retrieve Raid Data</button>
    </form>
</div>

<!-- Display the list of encounters if available -->
{% if fights %}
    <h2 class="mt-5">Boss Encounters</h2>
    <hr>
    <ul class="list-group">
        {% for fight in fights %}
            <!-- Each boss encounter as a card with a collapsible section for buttons -->
            <div class="card my-3">
                <div class="card-header" data-bs-toggle="collapse" href="#collapse-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                    <strong>{{ fight.name }}</strong> (ID: {{ fight.id }})
                </div>

                <div id="collapse-{{ loop.index }}" class="collapse">
                    <div class="card-body">
                        <a href="/raid-damage/{{ fight.id }}" class="btn btn-outline-danger">Damage</a>
                        <a href="/raid-healing/{{ fight.id }}" class="btn btn-outline-success">Healing</a>
                        <a href="/raid-buff/{{ fight.id }}" class="btn btn-outline-info">Buffs</a>

<!--                        <a href="/gear-breakdown/{{ fight.id }}" class="btn btn-outline-primary">Gear</a>-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endif %}

<!-- Display error messages if any -->
{% if error %}
    <div class="alert alert-danger mt-4">{{ error }}</div>
{% endif %}

{% endblock %}
