{% extends "layout.html" %}

{% block content %}
<h1 class="my-4">Retrieve the Raid Data</h1>

<p>This tool retrieves and displays raid data from Warcraft Logs, including player gear, damage breakdowns, and healing breakdowns.</p>

<div class="mt-4">
    <form action="/raid-data" method="post">
        <div class="form-group">
            <label for="raidCode">Enter Raid Code: </label>
            <input type="text" id="raidCode" name="raidCode" class="form-control" required placeholder="https://classic.warcraftlogs.com/reports/RAIDCODE">
        </div>
        <hr>
        <button type="submit" class="btn btn-primary mt-3">Retrieve Raid Data</button>
    </form>
</div>

<!-- Display the list of encounters if available -->
{% if fights %}
    <h2 class="mt-5">Boss Encounters</h2>
    <hr>
    <ul class="list-group">
        {% for fight in fights %}
            <div class="card-header" data-bs-toggle="collapse" href="#collapse-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                <li class="list-group-item"><strong>{{ fight.name }}</strong> (ID: {{ fight.id }})</li>
            </div>

        {% endfor %}
    </ul>
{% endif %}

<!-- Display error messages if any -->
{% if error %}
    <div class="alert alert-danger mt-4">{{ error }}</div>
{% endif %}

{% endblock %}
